// base/_background.scss
body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/842c5a41139069.579a1518668c7.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
