// _buttons.scss
.restartButton,
.exitButton {
    background-color: rgba(255, 255, 255, 0.071);
    color: $primary-color;
    width: 200px;
    height: 50px;
    font-family: $font-family;

    &:hover {
        background-color: $button-hover;
    }

    &:active {
        @include box-shadow(0, 2px, 4px);
        transform: translateY(2px);
    }
}
