// _final.scss

@use '../utilities/variables' as variables;

html, body.final{
  width:variables.$width;
  height:variables.$height;
  margin:0;
  padding:0;
  font-family: variables.$font-family;

}

body.final{
  background-image: variables.$image-final;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  display:flex;
  color: variables.$white;
  text-align: center;
  flex-direction: column;
  gap:10px;

}


body.final header, body.final footer{
  background-image: variables.$background-image-final;
  width:variables.$width;
  padding: 10px 0;
  margin:0;
  font-size:small;
  text-shadow: variables.$text-shadow-final;

}

body.final nav{
  margin:0;
}


body.final .container{
  border:2px solid variables.$border-container-final;
  background-color: variables.$background-color-final;
  height:variables.$width-height-container-final;
  width:variables.$width-height-container-final;
  padding:70px;
  text-align: center;
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  z-index:1;
  border-radius: 10px;
  gap:20px;
  display:flex;
}

body.final .container:active{
  box-shadow: variables.$box-shadow-final;
  transform: translateY(2px); }

body.final h2{
  margin-bottom:50px;
  font-size:2em;
  animation: blink 1s step-end infinite;

}

@keyframes blink {
  0% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}


body.final .restartButton,
body.final .exitButton {
  justify-content: center; 
  align-items: center; 
  background-color: variables.$background-color-button-final;
  color: variables.$white;
  gap:20px;
  width:variables.$button-width;
  height: variables.$button-height;
  margin-top: 15px;
  font-size: 15px;
  font-family: variables.$font-family;
  border-radius: 10px;
  background-color: variables.$black;
  text-align: center; 
  cursor: pointer;
}

body.final .restartButton p,
body.final .exitButton p {
  margin: 0;
}


body.final .restartButton:hover,
body.final .exitButton:hover, #userForm > button:hover {
  background-color: variables.$background-color-restart-exit-final;
}

body.final .restartButton:active, .exitButton:active, #userForm > button:hover {
  box-shadow: variables.$box-shadow-restart-exit-final;
  transform: translateY(2px); 
}

body.final .scoreboard {
  position: absolute;
  display: flex;
  left: 70px; 
  top: 100px;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: variables.$width-button-px; 
  padding: 5px;
  margin:10px;
  font-size: 16px;
  background-color: variables.$background-color-score-final;
  border-radius: 10px;
  border:2px solid variables.$border-final;
}

body.final .scoreboard:active {
  box-shadow: variables.$box-shadow-score-final;
  transform: translateY(2px); 
  background-color: variables.$black;
}


body.final .recordboard {
  position: absolute;
  display: flex;
  right: 70px;
  top: 100px;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: variables.$width-button-px; 
  padding: 5px;
  font-size: 16px;
  background-color: variables.$background-color-final;
  margin:10px;
  border-radius: 10px;
  border:2px solid variables.$border-final;

}

body.final .recordboard:active {
  box-shadow: variables.$box-shadow-score-final;
  transform: translateY(2px); 
  background-color: variables.$black;

}

#userForm{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px;
  bottom:20px;
  margin-top:20px; 
  padding:20px;
  }

#userForm > input {
  border-radius: 10px;
  max-height: 60px;

}
#userForm > button{
  box-shadow: variables.$box-shadow-score-final;
  transform: translateY(2px); 
  color: variables.$white;
  background-color: variables.$black;
  font-family: variables.$font-family;
  padding:10px;
  border:2px solid variables.$border-container-final;
  border-radius: 10px;
  height:50px;
}



/* responsive en móvil */
@media screen and (max-width: 750px) {
  body.final body{
      gap:10px;
  }
  body.final h2{
      margin-bottom:20px;
  }
  body.final .scoreboard,
  body.final .recordboard {
      position: absolute; 
      margin: 5px auto; 
      font-size: small;
      width: variables.$width-container-stats;
      margin:-10px;
  }

  body.final .container {
      width: variables.$width-container-final;
      padding:25px;
      display:flex;
      flex-direction:column;
      align-items:center;
      gap:10px;

  }

  body.final .button-container{
      display:flex;
      flex-direction: row;
      justify-content:center;
      align-items:center;
      padding:0;
      gap:10px;
  }
  body.final .exitButton,
  body.final .restartButton{
      width:variables.$width-container-stats;
  }
}
