@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/press-start");
html, body.inicio {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Press Start", sans-serif;
}

body.inicio {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../images/inicioGIF.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

body.inicio header, body.inicio footer {
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  width: 100%;
  font-size: small;
  padding: 10px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

body.inicio #welcome {
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(26, 60, 81, 0.7411764706);
  animation: blink 1s step-end infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.inicio div {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 50px;
  background-color: rgba(243, 243, 243, 0.2);
  text-align: center;
  align-items: center;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  border-radius: 10px;
  position: relative;
}

body.inicio div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.inicio section.sound-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

body.inicio section.sound-container button {
  font-family: "Press Start", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 35px;
  height: 35px;
  margin: 5px;
}

body.inicio div button {
  font-family: "Press Start", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

body.inicio div button:hover {
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.inicio div button:active {
  transform: scale(0.95);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.3);
}

body.inicio .floating-blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

body.inicio .floating-blocks span {
  position: absolute;
  animation: fall 6s linear infinite;
  white-space: nowrap;
}

@keyframes fall {
  0% {
    top: -5%;
    opacity: 1;
  }
  80% {
    opacity: 2;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}
body.inicio .floating-blocks .block1 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo4.png");
  background-size: cover;
  left: 1%;
  animation-delay: 0s;
}

body.inicio .floating-blocks .block2 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo.png");
  background-size: cover;
  left: 15%;
  animation-delay: 2s;
}

body.inicio .floating-blocks .block3 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo3.png");
  background-size: cover;
  left: 30%;
  animation-delay: 4s;
}

body.inicio .floating-blocks .block5 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo2.png");
  background-size: cover;
  left: 60%;
  animation-delay: 5s;
}

body.inicio .floating-blocks .block6 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo4.png");
  background-size: cover;
  left: 75%;
  animation-delay: 3s;
}

body.inicio .floating-blocks .block7 {
  width: 100px;
  height: 100px;
  background-image: url("../images/cubo.png");
  background-size: cover;
  left: 90%;
  animation-delay: 1s;
}

body.inicio #instructions {
  font-size: small;
  margin-top: 60px;
  width: 500px;
  animation: scrollText 10s linear infinite;
}

@media screen and (max-width: 750px) {
  body.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
  body.inicio div {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
  }
  body.inicio div button {
    margin-top: 5px;
    height: 50px;
    width: 150px;
  }
  body.inicio #instructions {
    font-size: small;
    margin-top: 20px;
    width: 250px;
    text-align: center;
  }
  body.inicio #welcome {
    margin-top: 30px;
  }
  body.inicio section.sound-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  body.inicio section.sound-container button {
    font-family: "Press Start", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.619);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  body.inicio section.sound-container button:hover {
    background-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
  }
  body.inicio section.sound-container button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.3);
  }
  body.inicio .floating-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  body.inicio .floating-blocks span {
    position: absolute;
    animation: fall 6s linear infinite;
    white-space: nowrap;
  }
  body.inicio .floating-blocks .block1,
  body.inicio .floating-blocks .block2,
  body.inicio .floating-blocks .block3,
  body.inicio .floating-blocks .block5,
  body.inicio .floating-blocks .block6,
  body.inicio .floating-blocks .block7 {
    width: 70px;
    height: 70px;
  }
  body.inicio .floating-blocks .block1 {
    left: 0%;
  }
  body.inicio .floating-blocks .block2 {
    left: 25%;
  }
  body.inicio .floating-blocks .block3 {
    left: 40%;
  }
  body.inicio .floating-blocks .block5 {
    left: 60%;
  }
  body.inicio .floating-blocks .block6 {
    left: 75%;
  }
  body.inicio .floating-blocks .block7 {
    left: 90%;
  }
}
html, body.juego {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Press Start", sans-serif;
}

body.juego {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/juegoGIF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
}

body.juego header, body.juego footer {
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

body.juego footer {
  margin-top: auto;
}

body.juego nav {
  margin: 0;
}

body.juego .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  overflow: hidden;
}

body.juego .stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 20px;
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  color: white;
  font-size: 0.9rem;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  margin: 10px;
}

body.juego .stats-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 20px;
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  color: white;
  font-size: 0.9rem;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  margin: 10px;
}

body.juego .stats-container:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.juego .stats-container2:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.juego .game-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border: 2px solid white;
  background-color: rgba(243, 243, 243, 0.2);
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

body.juego .game-container .initialBase {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid white;
  margin: 20px;
}

body.juego .game-container .base {
  width: 300px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid white;
  position: absolute;
  top: 95%;
}

body.juego .game-container div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.juego .side-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px;
  align-items: center;
  border: 2px solid white;
  background-image: linear-gradient(rgba(136, 204, 238, 0.4431372549), rgba(0, 94, 153, 0.4588235294));
  padding: 20px;
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

body.juego .side-container:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.juego .options {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body.juego .options input {
  font-family: "Press Start", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.619);
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

body.juego .options input:hover {
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
}

body.juego .options button {
  font-size: 1.5em;
  color: white;
  background-color: #000000;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
}

body.juego .options button:hover {
  background-color: rgba(243, 243, 243, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

body.juego .options button i {
  display: block;
}

@media (max-width: 768px) {
  body.juego .container {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 100%;
  }
  body.juego .side-container,
  body.juego .stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body.juego .side-container {
    width: 10%;
  }
  body.juego .stats-container {
    width: 25px;
  }
  body.juego .game-container {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    box-sizing: border-box;
  }
  body.juego .options button {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  body.juego .side-container p span,
  body.juego .stats-container p span {
    font-weight: bold;
    font-size: small;
  }
}
html, body.final {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Press Start", sans-serif;
}

body.final {
  background-image: url("../images/finalGIF.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  color: white;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

body.final header, body.final footer {
  background-image: linear-gradient(rgba(165, 102, 102, 0.1137254902), rgba(81, 28, 4, 0.431372549));
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: small;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

body.final nav {
  margin: 0;
}

body.final .container {
  border: 2px solid rgba(228, 174, 174, 0.667);
  background-color: rgba(54, 45, 45, 0.874);
  height: 40%;
  width: 40%;
  padding: 70px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  gap: 20px;
  display: flex;
}

body.final .container:active {
  box-shadow: 4px 4px 4px rgba(255, 45, 45, 0.548), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

body.final h2 {
  margin-bottom: 50px;
  font-size: 2em;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.final .restartButton,
body.final .exitButton {
  justify-content: center;
  align-items: center;
  background-color: rgba(149, 142, 142, 0.514);
  color: white;
  gap: 20px;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  font-size: 15px;
  font-family: "Press Start", sans-serif;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
}

body.final .restartButton p,
body.final .exitButton p {
  margin: 0;
}

body.final .restartButton:hover,
body.final .exitButton:hover, #userForm > button:hover {
  background-color: rgba(114, 15, 15, 0.6941176471);
}

body.final .restartButton:active, .exitButton:active, #userForm > button:hover {
  box-shadow: 0 2px 4px rgba(213, 93, 93, 0.514), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

body.final .scoreboard {
  position: absolute;
  display: flex;
  left: 70px;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 5px;
  margin: 10px;
  font-size: 16px;
  background-color: rgba(54, 45, 45, 0.747);
  border-radius: 10px;
  border: 2px solid rgba(228, 174, 174, 0.667);
}

body.final .scoreboard:active {
  box-shadow: 0 2px 4px rgba(219, 120, 120, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
  background-color: #000000;
}

body.final .recordboard {
  position: absolute;
  display: flex;
  right: 70px;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  background-color: rgba(54, 45, 45, 0.874);
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(228, 174, 174, 0.667);
}

body.final .recordboard:active {
  box-shadow: 0 2px 4px rgba(219, 120, 120, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
  background-color: #000000;
}

#userForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

#userForm > input {
  border-radius: 10px;
  max-height: 60px;
}

#userForm > button {
  box-shadow: 0 2px 4px rgba(219, 120, 120, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
  color: white;
  background-color: #000000;
  font-family: "Press Start", sans-serif;
  padding: 10px;
  border: 2px solid rgba(228, 174, 174, 0.667);
  border-radius: 10px;
  height: 50px;
}

/* responsive en móvil */
@media screen and (max-width: 750px) {
  body.final body {
    gap: 10px;
  }
  body.final h2 {
    margin-bottom: 20px;
  }
  body.final .scoreboard,
  body.final .recordboard {
    position: absolute;
    margin: 5px auto;
    font-size: small;
    width: 150px;
    margin: -10px;
  }
  body.final .container {
    width: 60%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  body.final .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
  }
  body.final .exitButton,
  body.final .restartButton {
    width: 150px;
  }
}/*# sourceMappingURL=main.css.map */
