<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link href="https://fonts.cdnfonts.com/css/narrowpix" rel="stylesheet">
    <title>INICIO</title>
</head>
<body class="inicio">
    <header>
        <nav>
            <h1>TOWER BLOCKS</h1>
        </nav>
    </header>

    <section class="floating-blocks">
        <span class="block1"></span>  
        <span class="block2"></span>
        <span class="block3"></span>
        <span class="block5"></span>
        <span class="block6"></span>
        <span class="block7"></span>
    </section>
    
    <div>
        <p id="welcome">READY?</p>

        <a href="game.html">
            <button>START</button>
        </a>
        <a href="final.html">
            <button>RECORDS</button>
        </a>

        <p id="instructions" >Click to place the block</p>
    </div>

    <footer>
        <p>Natalia_Beatriz</p>
    </footer>
</body>
</html>