// _mixins.scss


@use '../utilities/variables' as variables;

@mixin button-styles($bg-color, $text-color) {
  width: variables.$button-width;
  height: variables.$button-height;
  background-color: $bg-color;
  color: $text-color;
  font-family: variables.$font-family;
  border: none;
  cursor: pointer;
  font-size: variables.$font-size-medium;
  border-radius: 10px; // Agregué border-radius para un estilo más moderno

  &:hover {
    background-color: adjust(variables.$background-color, 10%);  // Usé lighten() en lugar de adjust()
  }
}

@mixin container-flex($width, $height) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  width: $width;
  height: $height;
  gap: 20px;
  overflow: hidden;
}
