// _variables.scss
$primary-color: white;
$secondary-color: rgba(255, 255, 255, 0.16);
$background-color: rgba(243, 243, 243, 0.205);
$font-family: 'Press Start', sans-serif;
$button-hover: #b2beb222;
