@import url('https://fonts.cdnfonts.com/css/press-start');

html, body{
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Press Start', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('../images/inicioGIF.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}

header, footer {
    background-image: linear-gradient(#88ccee71, #005e9975);
    width:100%;
    font-size:small;
    padding: 10px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

div {
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 50px;
    background-color: rgba(243, 243, 243, 0.2);
    text-align: center;
    align-items: center;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    background-image: linear-gradient(#88ccee71, #005e9975);
}

div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

div button {
    font-family: 'Press Start', sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 100px;
    width: 200px;
    height: 50px;
}

div button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8), 0 0 35px rgba(255, 255, 255, 0.5);
}

div button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.3);
}





.floating-blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden; 
}

.floating-blocks span {
    position: absolute;
    animation: fall 6s linear infinite; 
    white-space: nowrap; 
}

@keyframes fall {
    0% {
        top: -5%; 
        opacity: 1;
    }
    80% {
        opacity: 2;
    }
    100% {
        top: 110%; 
        opacity: 0; 
    }
}

.floating-blocks .block1 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo4.png');
    background-size: cover;
    left: 1%;
    animation-delay: 0s;
}

.floating-blocks .block2 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo.png');
    background-size: cover;
    left: 15%;
    animation-delay: 2s;
}

.floating-blocks .block3 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo3.png');
    background-size: cover;
    left: 30%;
    animation-delay: 4s;
}

.floating-blocks .block5 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo2.png');
    background-size: cover;
    left: 60%;
    animation-delay: 5s;
}

.floating-blocks .block6 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo4.png');
    background-size: cover;
    left: 75%;
    animation-delay: 3s;
}

.floating-blocks .block7 {
    width: 100px;
    height: 100px;
    background-image: url('../images/cubo.png');
    background-size: cover;
    left: 90%;
    animation-delay: 1s;
}