//index.scss

@use '../utilities/variables' as variables;
@use '../utilities/mixins' as mixins;

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('../images/fondoGIF.gif');
  font-family: variables.$font-family;
  color: variables.$white; // Asegura que el texto por defecto sea blanco
}

nav {
  margin: 10px;
  padding: 10px;
  color: variables.$white;
  font-family: variables.$font-family;
  text-align: center;
  background: variables.$background-color;
}

div {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 50px;
  background-color: variables.$background-color; // Si este es un fondo específico, déjalo así
  text-align: center;
  align-items: center;
  color: variables.$white;
}

div button {
  @include mixins.button-styles(variables.$white, variables.$black); // Usando la variable de color negro
  margin: 100px;
}

footer {
  background: variables.$background-color;
  margin: 10px;
  padding: 10px;
  color: variables.$white;
  font-family: variables.$font-family;
  text-align: center;
}
