<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <title>INICIO</title>
</head>
<body>
    <header>
        <nav>
            <h1>TOWER BLOCKS</h1>
        </nav>
    </header>
    
    <div>
        <a href="game.html">
            <button>START</button>
        </a>
    </div>
    
    <footer>
        <p>Natalia_Beatriz</p>
    </footer>
</body>
</html>