<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas en la base de datos centros</title>
    <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>

<body>

    <h1>Tablas en la base de datos "centros"</h1>

    {% for nombre_tabla, datos in datos_tablas.items() %}

        <h2>Tabla: {{ nombre_tabla }}</h2>

        <table>
            
            <tr>
                {% for columna in datos.columnas %}
                <th>{{ columna }}</th>
                {% endfor %}
            </tr>
            
            
            {% for fila in datos.filas %}

            <tr>
                {% for valor in fila %}
                <td>{{ valor }}</td>
                {% endfor %}
            </tr>

            {% endfor %}
            
        </table>

    {% endfor %}

</body>

</html>
