<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/main.css">
    <link href="https://fonts.cdnfonts.com/css/narrowpix" rel="stylesheet">
    <title>END OF GAME</title>
</head>
<body class="final" data-page="final">
    <header> 
        <nav>
            <h1>TOWER BLOCKS</h1>
        </nav>
    </header>
    <section class="container">
        <h2>GAME OVER</h2>
            <div class="button-container">
                <a href="game.html">
                    <input class= "restartButton" type="button" value="RESTART" onclick="restartGame()">
                </a>
                <a href="index.html">
                    <input class="exitButton" type="button" value="EXIT" onclick="exitGame()">
                </a>   
            </div>
            <form id="userForm">
                <label for="username">Enter your name:</label></br>
                <input type="text" id="username" name="username" placeholder="Your name" required>
                <button type="submit">Download Score</button>
            </form>
    </section>
    <div class="scoreboard">
            <p>Score: <span id="finalScore">0</span></p>
        </div>
    <div class="recordboard">
            <p>Record: <span id="record">0</span></p>
    </div>

    <footer class="footer">
        <div class="date">
            <p id="currentTime"></p>
        </div>
        <p>Natalia_Beatriz</p>
    </footer>
    <script src="../static/js/final.js"></script>
    <script src="../static/js/music.js"></script>
    <script src="../static/js/date.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/howler"></script>


</body>
</html>
